h1 {
    text-align: center;
}

.setting {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 25px;
}

.online {
    position: fixed;
    top: 20px;
    right: 20px;
}

.main {
    text-align: center;
    margin-top: 100px;
}

.p1 {
    color: darkslategray;
}

.auto {
    color: rgb(255, 0, 230);
}

.suggest {
    color: black;
}

/* Search bar */
.search {
    width: 600px;          
    padding: 10px 10px 10px 35px;
    border: 2px solid gray;
    border-radius: 30px;
    font-size: 18px;
}

/* Search icon */
.lens {
    position: relative;
    left: 30px;
}

/* Suggestion Box */
#suggest-box {
    width: 640px;          
    height: 50px;
    margin: 0 auto;        
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}